<header class="header">
  <div class="blog-title">
    <a href="<%- url_for() %>" class="logo"><%= config.title %></a>
    <div class="subtitle"><%= config.subtitle || '' %></div>
  </div>
  <nav class="navbar">
    <ul class="menu">
      <li class="menu-item">
        <a href="/" class="menu-item-link">About</a>
      </li>
      <li class="menu-item">
        <a href="/archives" class="menu-item-link<%= is_archive() ? ' active' : '' %>">Blog</a>
      </li>
      <li class="menu-item">
        <a href="https://github.com/sooham" class="menu-item-link" target="_blank" rel="noopener">GitHub</a>
      </li>
      <li class="menu-item">
        <a href="/visualizations" class="menu-item-link">Visualizations</a>
      </li>
    </ul>
  </nav>
</header>
